*{
  font-family: 'system-ui', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul, li {
  list-style: none;
}

* {
  scrollbar-width: thin;      
  scrollbar-color: #000 #1a1a1a;      
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;                  
  height: 10px;                 
}

*::-webkit-scrollbar-track {
  background: #1a1a1a;             
}

*::-webkit-scrollbar-thumb {
  background-color: #000;             
  border-radius: 6px;                
  border: 2px solid #1a1a1a;
}      

*::-webkit-scrollbar-thumb:hover {
  background-color: #222;           
}
